@charset "utf-8";
/******* header ***********/
@charset "utf-8";
/******* header ***********/

#allmaster {
	width: 100%;
	height: 100%;
    display:table;
    text-align: center;

}



#pageContent{

float : left;
clear : none;
height : 700px;
width : 700px;
margin-left: 400px;
margin-top: 100px
}

#pagetitle {
float : left;
clear : none;
height : 100px;
width : 600px;
margin-left: 50px;
margin-top: 20px;
}

#uploadselection{
float : left;
clear : none;
height : 150px;
width : 600px;
margin-left: 50px;
margin-top: 0px
}

#uploadfile{
float : left;
clear : none;
height : 300px;
width : 600px;
margin-left: 50px;
margin-top: 0px
}




span.titlefont {font-size: 35px; }

span.uploadtitlefont {font-size: 25px; }


 
input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 6px 7px;
	outline: 0;
	-webkit-appearance: none;
	width:170px;
}
input.rounded:focus {
	border-color: #339933;
	
}

.titletext{
	background-color: #ffffff;
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	color: #323c3c;
	line-height: 1;
}


button.button4 {
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;

    /* 文字の太さをboldに指定 */
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 背景色を濃い青色に指定 */
    background-color: #84c918;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;
}

button.button4:hover {
    /* 背景色を明るい青色に指定 */
    background-color: #b4e051; 


    /* 文字色を白色に指定 */
    color: #fff;
}



*{
padding : 0;
margin : 0;
border : 0;
}

body{
background-image : url(' bi-background-column.png ');
background-attachment : fixed;
background-size : 100% auto;
}

.blended_grid{
display : block;
width : 1000px;
overflow : auto;
margin : 50px auto 0 auto;
}
.pageHeader{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 200px;
width : 1000px;
}
.pageHeaderSub{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 50px;
width : 1000px;
}
.pageBarLeft{
float : left;
clear : none;
min-width : 80px;
min-height : 80px;
}
.pageBarLeftTop{
background-color : rgba(0, 0, 0, 0.5);
float : none;
clear : both;
height : 250px;
width : 200px;
}
.pageBarLeftButtom{
background-color : rgba(0, 0, 0, 0.5);
float : none;
clear : both;
height : 250px;
width : 200px;
}

.pageBarRight{
float : left;
clear : none;
min-width : 80px;
min-height : 80px;
}
.pageBarRightTop{
background-color : rgba(0, 0, 0, 0.5);
float : none;
clear : both;
height : 250px;
width : 200px;
}
.pageBarRightButtom{
background-color : rgba(0, 0, 0, 0.5);
float : none;
clear : both;
height : 250px;
width : 200px;
}
.pageFooter{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 150px;
width : 1000px;
}
.pageFooterSub{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 50px;
width : 1000px;
}








